<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://unpkg.com/twinklecss@1.1.0/twinkle.min.css"/>
</head>
<body>
{% include "components/navbar.html" %}
    <div class="flex p-4 m-6 justify-center">
        Welcome to bITconf 2022
    </div>
</body>
<script>
    fetch('http://127.0.0.1:8080/status/', {
          method: 'GET',
           body: JSON.stringify({"status": "ONLINE"}),
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
            'Bearer': ''
          }
        }).then((response)=> {
            const data = response.json();
            console.log(data);
        	return data;
    })
</script>
</html>